<div id="bottom">
    <div class="container">
        <div class="row">
            <div class="moduletable custom  col-sm-12">
                <div class="module_container">
                    <header class="page_header">
                        <h3 class="moduleTitle  heading-style-3 visible-first">
                            Nasze usługi
                        </h3>
                    </header>
                    <div class="mod-newsflash-adv mod-newsflash-adv__custom cols-2">
                        <div class="row">
                            <article class="col-sm-6 item item_num0 item__module visible-first">
                                <figure class="item_img img-intro img-intro__left">
                                    <img src="{{ absolute_url('/images/dostawa-kwiatow-tego-samego-dnia.jpg') }}" alt="Dostawa w ten sam dzień">
                                </figure>
                                <div class="item_content">
                                    <h6 class="item_title item_title__custom heading-style-6 visible-first">
                                        Dostawa kwiatów tego samego dnia
                                    </h6>
                                    <div class="item_introtext">
                                        <p>
                                            Gdy czekanie nie wchodzi w grę, możesz dostarczyć kwiaty tego samego dnia.
                                            Zamów przed 12:00, od poniedziałku do piątku.
                                        </p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </article>
                            <article class="col-sm-6 item item_num1 item__module  lastItem visible-first">
                                <figure class="item_img img-intro img-intro__left">
                                    <img src="{{ absolute_url('/images/idealne-upominki-i-kompozycje-kwiatowe.jpg') }}" alt="Idealne upominki i kompozycje kwiatowe">
                                </figure>
                                <div class="item_content">
                                    <h6 class="item_title item_title__custom heading-style-6 visible-first">
                                        Idealne upominki i kompozycje kwiatowe
                                    </h6>
                                    <div class="item_introtext">
                                        <p>
                                            Jeśli chcesz wysłać <strong>prezent</strong> lub <strong>roślinę</strong>, jesteś we właściwym miejscu.
                                            Perfekcyjny <strong>upominek</strong> czeka na Ciebie w naszej kwiaciarni. <strong>Róże</strong> są idealne na
                                            miłość, <strong>rośliny zielone</strong> zapewniają trwałe piękno, a <strong>rośliny kwitnące</strong> to
                                            jasny dodatek do każdego domu lub biura.
                                        </p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </article>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
