<div id="content">
    <div class="container">
        <div class="row">
            <div class="content-inner">
                <div id="component" class="col-sm-12">
                    <main>
                        <div id="content-top">
                            <div class="row">
                                <div class="col-sm-12">
                                    <header class="page_header">
                                        <h1 class="heading-style-3 visible-first">O nas</h1>
                                    </header>
                                    <div class="mod-article-single mod-article-single__custom">
                                        <figure class="item_img img-intro img-intro__left">
                                            <img src="{{ asset('build/images/o-nas.jpg') }}"
                                                 alt="Kwiaciarnia Finezja">
                                        </figure>
                                        <div class="item_content">
                                            <h4 class="item-title heading-style-4 visible-first">
                                                Kwiaciarnia Finezja działa na rynku już od 2006 roku.
                                            </h4>
                                            <div class="item_introtext">
                                                <p>
                                                    Celebruj każdą okazję wraz ze świeżymi kwiatami.
                                                    U nas znajdziesz tylko najwyższej jakości <strong>kompozycje
                                                        kwiatowe</strong> i <strong>bukiety</strong> - idealne na urodziny, rocznice
                                                    lub dowolne okazje przez cały rok. Nasza
                                                    <strong>dostawa kwiatów</strong> jest zawsze szybka, łatwa i wygodna.
                                                    Jestesmy gotowi służyć Ci 24 godziny na dobę i 7 dni w
                                                    tygodniu.
                                                    Twój prezent zostanie dostarczony do rąk własnych przez jednego
                                                    z naszych pracowników. Zapewniamy terminową przesyłkę i
                                                    nienaganną jakość.
                                                </p>
                                                <p>
                                                    Wyślij kwiaty z Finezją i miej pewność, że
                                                    uszczęśliwisz odbiorcę. Możesz nam zaufać - jakość
                                                    będzie bezkonkurencyjna bez względu na to, czy zamówisz
                                                    bukiet pięknych róż, żywych tulipanów, imponujących
                                                    lilii czy pięknych stokrotek lub gerberów.
                                                </p>
                                                <p>
                                                    <strong>Niech kwiaty wyrażą to czego nie da się ująć słowami!</strong>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>
</div>
