<div id="mainbottom-2">
    <div class="container">
        <div class="row">
            <div class="moduletable col-sm-12">
                <div class="module_container">
                    <header class="page_header">
                        <h3 class="moduleTitle heading-style-3 visible-first">Nasze zalety</h3>
                    </header>
                    <div class="mod-newsflash-adv mod-newsflash-adv__ cols-3">
                        <div class="row">
                            <article class="col-sm-4 item item_num0 item__module visible-first">
                                <figure class="item_img img-intro img-intro__">
                                    <img src="{{ absolute_url('/images/ekskluzywne-bukiety.jpg') }}" alt="Ekskluzywne bukiety">
                                </figure>
                                <div class="item_content">
                                    <h4 class="item_title item_title__ heading-style-4 visible-first">
                                        Ekskluzywne bukiety
                                    </h4>
                                    <div class="item_introtext">
                                        <p>
                                            <strong>Bukiety</strong> o niebiańskim zapachu, do których
                                            wybieramy najlepsze kwiaty. Profesjonalizm i finezja
                                            z jaką nasze florystki układają bukiety gwarantują
                                            100% satysfacji i luksusu.
                                        </p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </article>
                            <article class="col-sm-4 item item_num1 item__module visible-first">
                                <figure class="item_img img-intro img-intro__">
                                    <img src="{{ absolute_url('/images/male-jest-piekne.jpg') }}" alt="Małe jest piękne">
                                </figure>
                                <div class="item_content">
                                    <h4 class="item_title item_title__ heading-style-4 visible-first">
                                        Małe jest piękne
                                    </h4>
                                    <div class="item_introtext">
                                        <p>
                                            Posiadamy sporą kolekcję upominków, wśród których znajdują się
                                            obrazy, figurki, a także różnego rodzaju śmieszne prezenty.
                                            Duży wybór kartek urodzinowych.
                                        </p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </article>
                            <article class="col-sm-4 item item_num2 item__module lastItem visible-first">
                                <figure class="item_img img-intro img-intro__">
                                    <img src="{{ absolute_url('/images/sezonowe-kolekcje.jpg') }}" alt="Sezonowe kolekcje">
                                </figure>
                                <div class="item_content">
                                    <h4 class="item_title item_title__ heading-style-4 visible-first">
                                        Sezonowe kolekcje
                                    </h4>
                                    <div class="item_introtext">
                                        <p>
                                            Zawsze jesteśmy zajęci projektowaniem kolekcji kwiatów na następny sezon.
                                            Wraz z nadejściem każdej pory roku nasze produkty tworzą niesamowicie piękny
                                            klimat.
                                        </p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </article>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
