<div id="mainbottom-3">
    <div class="container">
        <div class="row">
            <div class="moduletable indent col-sm-12">
                <div class="module_container">
                    <div class="mod-article-single mod-article-single__indent">
                        <div class="item__module visible-first">
                            <figure class="item_img img-intro img-intro__right">
                                <img src="{{ asset('build/images/page2-img4.png') }}" alt="Aby kwiaty stały dłużej">
                            </figure>
                            <div class="item_content">
                                <h3 class="item-title heading-style-3 visible-first">
                                    Co mogę zrobić aby moje kwiaty stały dłużej
                                </h3>
                                <div class="item_introtext">
                                    <p>
                                        Pewne gatunki kwiatów ciętych wytrzymują dłużej niż inne. <strong>Goździki</strong> na
                                        przykład
                                        nie więdną przez długi czas. <stroong>Róże</stroong> przeciwnie, lecz pomimo tego są cenione za swoje
                                        delikatne piękno.
                                    </p>
                                    <p>
                                        Kupując u nas pamiętaj, aby spytać co należy zrobić, aby kwiaty szybko nie zwiędły.
                                        Chętnie doradzimy.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
