<div id="mainbottom">
    <div class="parallax"
         data-url="{{ asset('build/images/parallax/parallax3.jpg') }}"
         data-speed="0.8"
         data-direction="normal"
         data-mobile="true"
         data-blur="false"
    >
        <div class="container">
            <div class="row">
                <div class="moduletable col-sm-12">
                    <div class="module_container">
                        <header class="page_header">
                            <h3 class="moduleTitle center heading-style-3 visible-first">Nasz zespół</h3>
                        </header>
                        <div class="mod-newsflash-adv cols-3">
                            <div class="row">
                                <article class="col-sm-4 item item__module visible-first">
                                    <figure class="item_img img-intro img-intro__none">
                                        <img src="{{ asset('build/images/team/ula.jpg') }}" alt="Ula">
                                    </figure>
                                    <div class="item_content">
                                        <h4 class="item_title item_title__ heading-style-4 visible-first">
                                            Ula
                                        </h4>
                                        <div class="item_introtext">
                                            Florystka
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </article>
                                <article class="col-sm-4 item item__module visible-first">
                                    <figure class="item_img img-intro img-intro__none">
                                        <img src="{{ asset('build/images/team/agnieszka.jpg') }}"
                                             alt="Agnieszka">
                                    </figure>
                                    <div class="item_content">
                                        <h4 class="item_title item_title__ heading-style-4 visible-first">
                                            Agnieszka
                                        </h4>
                                        <div class="item_introtext">
                                            Właścicielka i florystka
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </article>
                                <article
                                        class="col-sm-4 item item__module lastItem visible-first">
                                    <figure class="item_img img-intro img-intro__none">
                                        <img src="{{ asset('build/images/team/ola.jpg') }}" alt="Ola">
                                    </figure>
                                    <div class="item_content">
                                        <h4 class="item_title item_title__ heading-style-4 visible-first">
                                            Ola
                                        </h4>
                                        <div class="item_introtext">
                                            Florystka
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </article>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
