<div id="mainbottom-4">
    <div class="parallax parallax__parallax2"
         data-url="{{ asset('build/images/parallax/parallax4.jpg') }}"
         data-speed="0.8"
         data-direction="normal"
         data-mobile="true"
         data-blur="false"
    >
        <div class="container">
            <div class="row">
                <div class="moduletable col-sm-8 col-sm-offset-2">
                    <div class="mod-article-single mod-article-single__">
                        <div class="item__module visible-first">
                            <h2 class="item-title heading-style-2 visible-first">
                                Kwiaty są jednym z najpiękniejszych cudów natury
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
