<div id="content">
    <div class="container">
        <div class="row">
            <div class="content-inner">
                <div id="component" class="col-sm-12">
                    <main>
                        <div id="content-top">
                            <div class="row">
                                <div class="moduletable custom col-sm-12">
                                    <div class="module_container">
                                        <div class="mod-newsflash-adv mod-newsflash-adv__custom cols-3">
                                            <div class="row">
                                                <article class="col-sm-4 item item_num0 item__module visible-first">
                                                    <figure class="item_img img-intro img-intro__none">
                                                        <img src="{{ asset('build/images/nasza-misja.jpg') }}" alt="Nasza misja">
                                                    </figure>
                                                    <div class="item_content">
                                                        <h4 class="item_title heading-style-4 visible-first">
                                                            Nasza misja
                                                        </h4>
                                                        <div class="item_introtext">
                                                            <p>
                                                                Naszym celem jest zatrudnianie najwyższej jakości personelu,
                                                                który zaspokaja emocjonalne i sentymentalne potrzeby naszych klientów
                                                                dzięki najwyższej jakości produktom kwiatowym i wyjątkowym usługom,
                                                                które przekraczają oczekiwania.
                                                                Wiemy, jak zadowolić naszych klientów, ponieważ mamy wspólną pasję - kwiaty.
                                                                <strong>Wyraź swoje uczucia z finezją!</strong>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </article>
                                                <article class="col-sm-4 item item_num1 visible-first">
                                                    <figure class="item_img img-intro img-intro__none">
                                                        <img src="{{ asset('build/images/nasze-wartosci.jpg') }}" alt="Nasze wartości">
                                                    </figure>
                                                    <div class="item_content">
                                                        <h4 class="item_title heading-style-4 visible-first">
                                                            Nasze wartości
                                                        </h4>
                                                        <div class="item_introtext">
                                                            <p>
                                                                Jesteśmy uczciwi i odpowiedzialni w kontaktach z naszymi klientami,
                                                                dostawcami i współpracownikami. Gwarantujemy najwyższą jakość.
                                                                <strong>Słuchamy naszych klientów</strong>, aby spełniać ich oczekiwania.
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </article>
                                                <article
                                                        class="col-sm-4 item item_num2 lastItem visible-first">
                                                    <figure class="item_img img-intro img-intro__none">
                                                        <img src="{{ asset('build/images/nasza-wizja.jpg') }}" alt="Nasza wizja">
                                                    </figure>
                                                    <div class="item_content">
                                                        <h4 class="item_title item_title__custom heading-style-4 visible-first">
                                                            Nasza wizja
                                                        </h4>
                                                        <div class="item_introtext">
                                                            <p>
                                                                <strong>Kwiaciarnia Finezja</strong> będzie nadal liderem
                                                                w dostarczaniu kwiatowych produktów i usług w
                                                                <strong>Wodzisławiu Śl.</strong> Będziemy utrzymywać tradycję
                                                                a zarazem spełniać oczekiwania klientów - za
                                                                rozsądna cena. Będziemy nadal rozwijać się dzięki
                                                                powracającym zadowolonym klientom, a dzięki temu
                                                                zapewnimy naszym pracownikom lepsze warunki.
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </article>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>
</div>
