{#{% include('components/latest_products.html.twig') %}#}
<div id="feature">
    <div class="container">
        <div class="row">
            <div class="moduletable col-sm-8">
                <div class="module_container">
                    <header class="page_header">
                        <h3 class="moduleTitle  heading-style-3 visible-first">
                            Witamy w naszej kwiaciarni!
                        </h3>
                    </header>
                    <div class="mod-article-single mod-article-single__">
                        <div class="item__module visible-first">
                            <div class="item_content">
                                <div class="item_introtext">
                                    <p>
                                        Proponujemy kwiaty cięte, doniczkowe, bukiety, kompozycje ślubne,
                                        palmy pogrzebowe, wianki, upominki. Działamy w <strong>Wodzisławiu</strong>, ul. Kubsza 23.
                                    </p>
                                    <p>
                                        <strong>Chcemy sprawić, aby Twoje życie było piękniejsze.</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="moduletable col-sm-4">
                <div class="module_container">
                    <div class="mod-menu">
                        <ul class="menu buttons">
                            <li class="item-584">
                                <a title="Zobacz ofertę" class="btn" href="{{ path('offers') }}">Zobacz ofertę</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
