<div id="mainbottom-2">
    <div class="container">
        <div class="row">
            <div class="moduletable indent col-sm-12">
                <div class="mod-article-single mod-article-single__indent">
                    <div class="item__module visible-first">
                        <figure class="item_img img-intro img-intro__left">
                            <img src="{{ absolute_url('/images/page1-img10.jpg') }}" alt="Zanim zwrócisz kwiaty">
                        </figure>
                        <div class="item_content">
                            <h3 class="item-title heading-style-3 visible-first">Zanim zwrócisz kwiaty</h3>
                            <div class="item_introtext">
                                <p>
                                    Jeśli kiedykolwiek otrzymasz roślinę lub inny produkt z naszaj kwiaciarni,
                                    które po rozpakowaniu wydają się być w złym stanie, prosimy o natychmiastowy
                                    kontakt.
                                    Możemy wtedy poprosić Cię o przesłanie nam zdjęcia, jeśli to możliwe,
                                    aby nie było żadnych wątpliwości co do stanu towaru zaraz po rozpakowaniu.
                                </p>
                                <p>
                                    Pamiętaj, że rośliny będą wyglądać inaczej w zależności od sezonu.
                                    Zimą nawet najbardziej krzaczaste drzewo okaże się nagie,
                                    a niektóre kwiaty nie będą nawet widoczne powyżej poziomu gleby!
                                    To nie znaczy, że coś jest z nimi nie tak, tylko że jest po sezonie.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
