<div id="mainbottom-3">
    <div class="container">
        <div class="row">
            <div class="single col-sm-12">
                <div class="mod-article-single mod-article-single__single">
                    <div class="item__module visible-first">
                        <figure class="item_img img-intro img-intro__right">
                            <img src="{{ asset('build/images/page1-img11.png') }}"
                                 alt="Oryginalne rozwiązania kwiatowe">
                        </figure>
                        <div class="item_content">
                            <h3 class="item-title heading-style-3 visible-first">Oryginalne rozwiązania kwiatowe</h3>
                            <div class="item_introtext">
                                <p>
                                    Oferujemy szeroką gamę <strong>stylowych podarunków</strong>, <strong>rękodzieła</strong>,
                                    a także usług w zakresie <strong>projektowania kwiatów</strong>.
                                    Tworzymy innowacyjne wzory kwiatowe używając do tego mieszanki naturalnych
                                    i ziemistych składników, w tym świeżych kwiatów oraz liści i ziół.
                                    Powstają urzekające kolory i odcienie - wszystkoo zgodnie z oczekiwaniami klienta.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
