<div id="mainbottom-5">
    <div class="container">
        <div class="row">
            <div class="moduletable services  col-sm-12">
                <div class="module_container">
                    <div class="mod-newsflash-adv mod-newsflash-adv__services cols-3" id="module_217">
                        <div class="row">
                            <article class="col-sm-4 item item_num0 item__module visible-first">
                                <i class="fa fa-eye pull-left"></i>
                                <div class="item_content">
                                    <h6 class="item_title item_title__services heading-style-6 visible-first">
                                        Znajdź
                                    </h6>
                                    <div class="item_introtext">
                                        Przejrzyj naszą wspaniałą linię kwiatów i odkryj nowe zapachy.
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </article>
                            <article class="col-sm-4 item item_num1 item__module visible-first">
                                <i class="fa fa-calendar pull-left"></i>
                                <div class="item_content">
                                    <h6 class="item_title item_title__services heading-style-6 visible-first">
                                        Zaplanuj
                                    </h6>
                                    <div class="item_introtext">
                                        Złóż zamówienie na konkretną datę w przyszłości.
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </article>
                            <article class="col-sm-4 item item_num2 item__module visible-first">
                                <i class="fa fa-bus pull-left"></i>
                                <div class="item_content">
                                    <h6 class="item_title item_title__services heading-style-6 visible-first">
                                        Dostawa
                                    </h6>
                                    <div class="item_introtext">
                                        Niezawodne pakowanie i wysyłka na czas.
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </article>
                        </div>
                        <div class="row">
                            <article class="col-sm-4 item item_num3 item__module visible-first">
                                <i class="fa fa-group pull-left"></i>
                                <div class="item_content">
                                    <h6 class="item_title item_title__services heading-style-6 visible-first">
                                        Opcje
                                    </h6>
                                    <div class="item_introtext">
                                        Oferujemy wysyłkę kurierem lub własnym transportem.
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </article>
                            <article class="col-sm-4 item item_num4 item__module   visible-first">
                                <i class="fa fa-coffee  pull-left"></i>
                                <div class="item_content">
                                    <h6 class="item_title item_title__services heading-style-6 visible-first">
                                        Kawa
                                    </h6>
                                    <div class="item_introtext">
                                        Zrelaksuj się, a my zajmiemy się resztą.
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </article>
                            <article class="col-sm-4 item item_num5 item__module  lastItem visible-first"
                                    >
                                <i class="fa fa-cubes pull-left"></i>
                                <div class="item_content">
                                    <h6 class="item_title item_title__services heading-style-6 visible-first">
                                        Pielęgnacja
                                    </h6>
                                    <div class="item_introtext">
                                        Kompozycje kwiatowe przetrwają 4-7 dni lub dłużej, w zależności od użytych kwiatów.
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </article>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
