<div class="parallax"
     data-url="{{ absolute_url('/images/parallax/parallax1.jpg') }}"
     data-speed="0.8"
     data-direction="normal"
     data-mobile="true"
     data-blur="false"
>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="mod-newsflash-adv list cols-3">
                    <div class="row">
                        <article class="col-sm-4 item visible-first">
                            <span class="dropcap">1.</span>
                            <div class="item_content">
                                <h4 class="item_title heading-style-4 visible-first">
                                    Kwiaty z finezją
                                </h4>
                                <div class="item_introtext">
                                    <p>
                                        Oferujemy pełną obsługę kwiatową na każdą okazję.
                                        <strong>Rośliny zielone</strong> i kwitnące,
                                        jak również duży wybór <strong>kwiatów ciętych</strong> oraz
                                        <strong>kompozycji</strong> i <strong>bukietów</strong>.
                                    </p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </article>
                        <article class="col-sm-4 item visible-first">
                            <span class="dropcap">2.</span>
                            <div class="item_content">
                                <h4 class="item_title heading-style-4 visible-first">
                                    Kwiaty na zamówienie
                                </h4>
                                <div class="item_introtext">
                                    <p>
                                        Przyjmujemy zamówienia zarówno na <strong>bukiety ślubne</strong>,
                                        jak i na <strong>palmy pogrzebowe</strong>.
                                        Jeśli potrzebujesz czegoś specjalnego, chętnie to
                                        omówimy i przeanalizujemy.
                                        W przypadku większych projektów na terenie
                                        <strong>Wodzisławia Śląskiego</strong> i okolic,
                                        dostarczymy kwiaty na miejsce własnym transportem.
                                    </p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </article>
                        <article class="col-sm-4 item lastItem visible-first">
                            <span class="dropcap">3.</span>
                            <div class="item_content">
                                <h4 class="item_title heading-style-4 visible-first">
                                    Kwiaty przez internet
                                </h4>
                                <div class="item_introtext">
                                    <p>
                                        Już wkrótce wdrożymy przyjazny i prosty w obsłudze,
                                        a zarazem nowoczesny <strong>sklep internetowy</strong>,
                                        w którym szybko, bez zbędnych kliknięć i konieczności
                                        logowania, będzie można zamówić produkty z naszej kwiaciarni.
                                    </p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </article>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
