<div id="header">
    <div id="swiper-slider" class="swiper-container swiper-slider swiper-container-horizontal"
         data-min-height="546px" data-height="25%" style="height: 546px;" data-loop="false">
        <div class="swiper-wrapper">
            <div class="swiper-slide"
                 data-slide-bg="{{ absolute_url('/images/slider/oferta.jpg') }}"
                 data-swiper-slide-index="0"
                 style="background-image: url({{ absolute_url('/images/slider/oferta.jpg') }}); background-size: cover; width: 811px;">
                <div class="swiper-slide-caption">
                    <div class="camera_caption">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h1 class="slide-title heading-style-1 visible-first">
                                        21.01 Dzień Babci<br />22.01 Dzień Dziadka
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>