<div id="footer-wrapper" style="margin-top: -411px;">
    <div class="footer-wrapper-inner">
        <!-- Copyright -->
        <div id="copyright" role="contentinfo">
            <div class="container">
                <div class="row">
                    <div class="moduletable col-sm-12">
                        <div class="module_container">
                            <div class="mod-menu mod-menu__social">
                                <ul class="nav menu social">
                                    <li>
                                        <a class="fa fa-facebook" target="_blank" href="{{ absolute_url('https://www.facebook.com/Kwiaciarnia-Finezja-101441781269318') }}" title="Kwiaciarnia Finezja"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="copyright">
                            <span class="siteName">Kwiaciarnia Finezja</span>
                            <span class="copy">© </span><span class="year">{{ "now"|date("Y") }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="back-top" style="display: block;">
    <a title="Do góry" id="back-top-link" href="#"><span></span> </a>
</div>
