<div id="top">
    <div class="container">
        <div class="row">
            <div id="logo" class="col-sm-3">
                <a href="{{ path('index') }}" title="Kwiaciarnia Finezja">
                    <img src="{{ asset('build/images/logo.png') }}" alt="Kwiaciarnia Finezja">
                </a>
            </div>
            <div class="col-sm-9">
                <ul class="menu address">
                    <li class="deeper parent">
                        <span class="fa fa-map-marker">Adres</span>
                        <ul class="nav-child unstyled small">
                            <li><span class="separator">Adres:</span></li>
                            <li><span class="separator">ul. Kubsza 23</span></li>
                            <li><span class="separator">44-300 Wodzisław Śl.</span></li>
                        </ul>
                    </li>
                    <li class="deeper parent">
                        <span class="fa fa-phone">Telefon</span>
                        <ul class="nav-child unstyled small">
                            <li><span class="separator">Telefon:</span></li>
                            <li><span class="separator">505-715-989</span></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
