{% extends 'admin/base.html.twig' %}
{% block title %}{{ parent() }} - Oferta{% endblock %}
{% block body %}
    <div id="list"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        const categories = '{{ categoriesJson|raw }}';
    </script>
    {{ encore_entry_script_tags('adminCategories') }}
{% endblock %}
